<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moa.dev.texto_botones">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Texto_Botones">
        <activity
            android:name=".Photowsw"
            android:exported="false" />
        <activity
            android:name=".WhiteSwhoman"
            android:exported="false" />
        <activity
            android:name=".GreyMan"
            android:exported="false" />
        <activity
            android:name=".BlueMan"
            android:exported="false" />
        <activity
            android:name=".RedMan"
            android:exported="false" />
        <activity
            android:name=".BlackMan"
            android:exported="false" />
        <activity
            android:name=".Grey"
            android:exported="false" />
        <activity
            android:name=".Blue"
            android:exported="false" />
        <activity
            android:name=".Black"
            android:exported="false" />
        <activity
            android:name=".Red"
            android:exported="false" />
        <activity
            android:name=".WhiteManActivity"
            android:exported="false" />
        <activity
            android:name=".ManActivity"
            android:exported="false" />
        <activity
            android:name=".White"
            android:exported="false" />
        <activity
            android:name=".WomanActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>